### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [59]:
player_count = purchase_data["SN"].nunique()

In [60]:
count_of_players = pd.DataFrame({"Total Players":[player_count]})

count_of_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
unique_items = purchase_data["Item ID"].nunique()

unique_items

183

In [17]:
no_of_purchases = purchase_data["Item ID"].count()

no_of_purchases

780

In [18]:
avg_price = purchase_data["Price"].mean()

avg_price

3.050987179487176

In [19]:
avg_age = purchase_data["Age"].mean()

avg_age

22.714102564102564

In [20]:
total_revenue = purchase_data["Price"].sum()

total_revenue

2379.77

In [29]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Age":[avg_age], "Average Price":[avg_price], "Number of Purchases":[no_of_purchases], "Total Revenue":[total_revenue]})

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("$ {:.2f}".format)
purchasing_analysis["Average Age"] = purchasing_analysis["Average Age"].map("{:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("$ {:.2f}".format)


purchasing_analysis

,Number of Unique Items,Average Age,Average Price,Number of Purchases,Total Revenue
0,183,22.71,$ 3.05,780,$ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
count_of_males = purchase_data.loc[purchase_data["Gender"] == "Male"]["SN"].nunique()

count_of_males

484

In [63]:
perc_male = (count_of_males / player_count * 100)

perc_male

84.02777777777779

In [64]:
count_of_females = purchase_data.loc[purchase_data["Gender"] == "Female"]["SN"].nunique()

count_of_females

81

In [65]:
perc_female = (count_of_females / player_count * 100)

perc_female

14.0625

In [66]:
count_of_nonbinary = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

count_of_nonbinary

11

In [67]:
perc_nonbinary = (count_of_nonbinary / player_count * 100)

perc_nonbinary

1.9097222222222223

In [68]:
gender_demographics = pd.DataFrame({"Count of Non Binary Players":[count_of_nonbinary], "%age of Non Binary Players":[perc_nonbinary], "Count of Female Players":[count_of_females], "%age of Female Players":[perc_female], "Count of Male Players":[count_of_males], "%age of Male Players":[perc_male]})

gender_demographics["%age of Non Binary Players"] = gender_demographics["%age of Non Binary Players"].map("{:.2f}".format)
gender_demographics["%age of Female Players"] = gender_demographics["%age of Female Players"].map("{:.2f}".format)
gender_demographics["%age of Male Players"] = gender_demographics["%age of Male Players"].map("{:.2f}".format)

gender_demographics

,Count of Non Binary Players,%age of Non Binary Players,Count of Female Players,%age of Female Players,Count of Male Players,%age of Male Players
0,11,1.91,81,14.06,484,84.03


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [142]:
purchase_data_new = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)

In [146]:
purchagender_df = purchase_data_new.groupby(["Gender"])
purchagender_df.count()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Age Group
Gender,,,,,,,
Female,81,81,81,81,81,81,81
Male,484,484,484,484,484,484,484
Other / Non-Disclosed,11,11,11,11,11,11,11

In [147]:
total_count = purchagender_df["Gender"].count()

total_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [148]:
gender_bender = purchase_data.groupby(["Gender"])

In [149]:
purchase_count = gender_bender["Purchase ID"].count()

purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [150]:
avg_purchase_price = gender_bender["Price"].mean()

avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [151]:
purchase_value = gender_bender["Price"].sum()

purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [153]:
purchase_per_person = purchase_value / total_count

purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [154]:
gender_analysis = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":avg_purchase_price, "Total Purchase Value": purchase_value, "Average Total Purchase per Person": purchase_per_person})

gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("$ {:.2f}".format)
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("$ {:.2f}".format)
gender_analysis["Average Total Purchase per Person"] = gender_analysis["Average Total Purchase per Person"].map("$ {:.2f}".format)


gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$ 3.20,$ 361.94,$ 4.47
Male,652,$ 3.02,$ 1967.64,$ 4.07
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [119]:
purchase_data_new = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)

In [121]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [122]:
purchase_data_new["Age Group"]=pd.cut(purchase_data_new["Age"], age_bins, labels=age_labels)
purchase_data.head()

/Users/shreybhatia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [123]:
purchage_df = purchase_data_new.groupby(["Age Group"])
purchage_df.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 17   17   17      17       17         17     17
10-14               22   22   22      22       22         22     22
15-19              107  107  107     107      107        107    107
20-24              258  258  258     258      258        258    258
25-29               77   77   77      77       77         77     77
30-34               52   52   52      52       52         52     52
35-39               31   31   31      31       31         31     31
40+                 12   12   12      12       12         12     12

In [124]:
total_count = purchage_df["Age Group"].count()

total_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Group, dtype: int64

In [127]:
age_percentage = (total_count / purchase_data_new["SN"].count())*100

age_percentage

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Age Group, dtype: float64

In [128]:
summarage_demo = pd.DataFrame({"Total Count":total_count, "Percentage of Players" :age_percentage})

summarage_demo["Percentage of Players"] = summarage_demo["Percentage of Players"].map("{:.2f}".format)

summarage_demo

           Total Count Percentage of Players
Age Group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
purchage_df = purchase_data.groupby(["Age Group"])
purchage_df.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [136]:
purchase_count = purchage_df["Purchase ID"].count()

purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [137]:
avg_purchase_price = purchage_df["Price"].mean()

avg_purchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [138]:
purchage_value = purchage_df["Price"].sum()

purchage_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [139]:
avg_purchage_person = purchage_value / total_count
avg_purchage_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [141]:
purchage_summary = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price": avg_purchase_price,
                                          "Total Purchase Value": purchage_value, "Average Total Purchase per Person": avg_purchage_person})

purchage_summary["Average Purchase Price"] = purchage_summary["Average Purchase Price"].map("$ {:.2f}".format)
purchage_summary["Total Purchase Value"] = purchage_summary["Total Purchase Value"].map("$ {:.2f}".format)
purchage_summary["Average Total Purchase per Person"] = purchage_summary["Average Total Purchase per Person"].map("$ {:.2f}".format)


purchage_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$ 3.35,$ 77.13,$ 4.54
10-14,28,$ 2.96,$ 82.78,$ 3.76
15-19,136,$ 3.04,$ 412.89,$ 3.86
20-24,365,$ 3.05,$ 1114.06,$ 4.32
25-29,101,$ 2.90,$ 293.00,$ 3.81
30-34,73,$ 2.93,$ 214.00,$ 4.12
35-39,41,$ 3.60,$ 147.67,$ 4.76
40+,13,$ 2.94,$ 38.24,$ 3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [164]:
spender_bender = purchase_data.groupby(["SN"])

In [165]:
spender_purchase = spender_bender["Purchase ID"].count()

In [166]:
avg_spender_purchase_price = spender_bender["Price"].mean()

In [167]:
spender_total_purchase = spender_bender["Price"].sum()

In [168]:
top_spender = pd.DataFrame({"Purchase Count":spender_purchase, "Average Purchase Price": avg_spender_purchase_price,
                                          "Total Purchase Value": spender_total_purchase})

top_spender_sort = top_spender.sort_values("Total Purchase Value", ascending=False)

top_spender_sort["Average Purchase Price"] = top_spender_sort["Average Purchase Price"].map("$ {:.2f}".format)
top_spender_sort["Total Purchase Value"] = top_spender_sort["Total Purchase Value"].map("$ {:.2f}".format)


top_spender_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [184]:
popular_items = purchase_data.groupby(["Item ID", "Item Name"])

In [185]:
popular_purchases = popular_items["Purchase ID"].count()

In [186]:
avg_popular_price = popular_items["Price"].mean()

In [187]:
popular_purchased = popular_items["Price"].sum()

In [188]:
most_popular = pd.DataFrame({"Purchase Count":popular_purchases, "Item Price": avg_popular_price,
                                          "Total Purchase Value": popular_purchased})

most_popular_sort = most_popular.sort_values("Purchase Count", ascending=False)

most_popular_sort["Item Price"] = most_popular_sort["Item Price"].map("$ {:.2f}".format)
most_popular_sort["Total Purchase Value"] = most_popular_sort["Total Purchase Value"].map("$ {:.2f}".format)


most_popular_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [189]:
most_profitable_sort = most_popular.sort_values("Total Purchase Value", ascending=False)

most_profitable_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
#Observations from the Pandas exercise:

#1. Men, aged 20 - 24 are the highest consumers of games, in value and volume. So they continue to be the right audience to tap into. 

#2. Oathbreaker, Last Hope of the Breaking Storm is storming the gaming market, being the highest seller in no. of units sold and in total purchase value

#3. There might be a potential market opportunity for <10 years and above 35 years, as they spend more per unit than other age brackets.