### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [16]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [57]:
player_count = purchase_data["SN"].nunique()

player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
unique_items = purchase_data["Item ID"].nunique()

unique_items

183

In [59]:
avg_price = purchase_data["Price"].mean()

avg_price

3.050987179487176

In [60]:
avg_age = purchase_data["Age"].mean()

avg_age

22.714102564102564

In [61]:
total_revenue = purchase_data["Price"].sum()

total_revenue

2379.77

In [62]:
purchasing_analysis = pd.DataFrame({"Unique Items":[unique_items], "Average Age":[avg_age], "Average Price":[avg_price], "Total Players":[player_count], "Total Revenue":[total_revenue]})

purchasing_analysis

   Unique Items  Average Age  Average Price  Total Players  Total Revenue
0           183    22.714103       3.050987            576        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [63]:
gender_count = purchase_data["Gender"].value_counts()

gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [71]:
count_of_males = purchase_data.loc[purchase_data["Gender"] == "Male"]["SN"].nunique()

count_of_males

484

In [72]:
perc_male = (count_of_males / player_count * 100)

perc_male

84.02777777777779

In [73]:
count_of_females = purchase_data.loc[purchase_data["Gender"] == "Female"]["SN"].nunique()

count_of_females

81

In [74]:
perc_female = (count_of_females / player_count * 100)

perc_female

14.0625

In [78]:
count_of_nonbinary = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

count_of_nonbinary

11

In [79]:
perc_nonbinary = (count_of_nonbinary / player_count * 100)

perc_nonbinary

1.9097222222222223

In [127]:
gender_demographics = pd.DataFrame({"Count of Non Binary Players":[count_of_nonbinary], "%age of Non Binary Players":[perc_nonbinary], "Count of Female Players":[count_of_females], "%age of Female Players":[perc_female], "Count of Male Players":[count_of_males], "%age of Male Players":[perc_male]})

gender_demographics["%age of Non Binary Players"] = gender_demographics["%age of Non Binary Players"].map("{:.2f}".format)
gender_demographics["%age of Female Players"] = gender_demographics["%age of Female Players"].map("{:.2f}".format)
gender_demographics["%age of Male Players"] = gender_demographics["%age of Male Players"].map("{:.2f}".format)

gender_demographics

,Count of Non Binary Players,%age of Non Binary Players,Count of Female Players,%age of Female Players,Count of Male Players,%age of Male Players
0,11,1.91,81,14.06,484,84.03


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
gender_bender = purchase_data.groupby(["Gender"])

In [89]:
purchase_count = gender_bender["Purchase ID"].count()

purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [90]:
avg_purchase_price = gender_bender["Price"].mean()

avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [91]:
purchase_value = gender_bender["Price"].sum()

purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [128]:
gender_analysis = pd.DataFrame({"Purchase Count":purchase_count,  "Purchase Value": purchase_value, "Average Purchase Price":avg_purchase_price})

gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("{:.2f}".format)

gender_analysis

                       Purchase Count  Purchase Value Average Purchase Price
Gender
Female                            113          361.94                   3.20
Male                              652         1967.64                   3.02
Other / Non-Disclosed              15           50.19                   3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [105]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [109]:
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [110]:
purchage_df = purchase_data.groupby(["Age Group"])
purchage_df.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [119]:
total_count = purchage_df["Age Group"].count()

total_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Group, dtype: int64

In [120]:
age_percentage = (total_count / purchase_data["SN"].count())*100

age_percentage

Age Group
<10       2.948718
10-14     3.589744
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: Age Group, dtype: float64

In [123]:
summarage_demo = pd.DataFrame({"Total Count":total_count, "Percentage of Players" :age_percentage})

summarage_demo["Percentage of Players"] = summarage_demo["Percentage of Players"].map("{:.2f}".format)

summarage_demo

           Total Count Percentage of Players
Age Group
<10                 23                  2.95
10-14               28                  3.59
15-19              136                 17.44
20-24              365                 46.79
25-29              101                 12.95
30-34               73                  9.36
35-39               41                  5.26
40+                 13                  1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame